.error{
    margin-top: 5%;
    color: red;
    font-size: large;
    font-weight: bold;
}

form {
    font-size: large;
    margin-top: 10px;
}

input{
   height: 22px;
}

.window {
    padding: 15px;
}

.login_buttons {
    position: center;
    text-align: center;
    max-width: 150px;
    margin: auto;
}

footer{
    margin-top: 30%;
}
