html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    padding: 0;
    text-align: center;
    background-color: #d4d4b4;
    font-family: "Arial";
    color: #1a1a72;
    max-width: 1440px;
    margin: auto;
}

article, section {
    display: none;
}

#skansen_article {
    display: block;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

#menu_span {
    display: none;
}

header {
    max-width: 90%;
    margin: auto;
}

.topnav {
    position: center;
    position: -webkit-sticky;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #1a1a72;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    border-radius: 12px;
    padding: 5px;
}

button:hover {
    background-color: azure;
    color: chocolate;
    cursor: pointer;
}

#rezerwacje_a:hover{
    color: chocolate;
}

#hamburger_icon {
    display: none;
}

.active {
    background-color: #4CAF50;
    color: white;
}

article {
    max-width: 90%;
    margin: auto;
}

article p {
    text-align: justify;
}

article li {
    text-align: justify;
}

#statut_text p {
    text-align: center;
}

footer {
    padding-top: 5%;
    padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 90%;
    }

    h1 {
        font-size: 175%;
    }

    h2 {
        font-size: 130%;
    }

    #hamburger_icon {
        display: block;
        background: #0e0e68;
        position: absolute;
        right: 0;
        top: 0;

        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    #hamburger_icon a {
        color: white;
    }

    #hamburger_icon:hover {
        background-color: #d47b7b;
        color: black;
    }

    #menu {
        padding-bottom: 26px;
        position: sticky;
    }

    .topnav {
        position: center;
        position: -webkit-sticky;
        top: 0;
        position: sticky;
        overflow: hidden;
    }

    #menu_span {
        display: block;
    }

    .topnav #myLinks {
        display: none;
    }

    #myLinks {
        position: fixed;
    }

    button {
        display: table;
        margin-left: -80px;
        position: relative;
        border-radius: 12px;
        padding: 10px;
        margin-right: 20px;
        text-align: center;
        width: 300%;
        opacity: 0.9;
    }


}