html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    padding: 0;
    text-align: center;
    background-color: #d4d4a7;
    font-family: "Arial";
    color: #1a1a72;
    max-width: 1440px;
    margin: auto;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
    text-align: center;
}

#menu_span{
   display: none;
}
header {
    max-width: 90%;
    margin: auto;
}

.topnav {
    position: center;
    position: -webkit-sticky;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #1a1a72;

}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.topnav a.icon {
    display: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

article {
    max-width: 90%;
    margin: auto;
}

article p {
    text-align: justify;
}

article li {
    text-align: justify;
}

#statut_text p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 90%;
    }

    h1 {
        font-size: 175%;
    }

    h2 {
        font-size: 130%;
    }

    #menu{
        padding-bottom: 26px;
        position: sticky;
    }

    .topnav {
        position: center;
        position: -webkit-sticky;
        top: 0;
        position: sticky;
        overflow: hidden;
    }

    #menu_span{
        display: block;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: #0e0e68;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .active {
        background-color: #4CAF50;
        color: white;
    }
}