body{
    padding: 0;
    text-align: center;
    background-color: #d4d4b4;
    font-family: "Arial";
    color: #1a1a72;
    max-width: 1440px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

input[type=text], input[type=date], select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.error_class{
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    display: table;
}

.col-form-label{
    float: left;
    width: 10%;
    margin-top: 6px;
}

input[type=date]{
    float: left;
    width: 20%;
    margin-right: 70%;
    margin-top: 6px;
}

input[type=text]{
    float: left;
    width: 20%;
    margin-right: 70%;
    margin-top: 6px;
}
#clear_float{
    content: "";
    display: table;
    clear: both;
}
#submit_button{
    margin-top: 20px;
}

button {
    border-radius: 12px;
    max-width: 150px;
}

button:hover {
    background-color: azure;
    color: chocolate;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .input-group-text, .col-form-label,
    input[type=submit], input[type=date], input[type=text] {
        width: 100%;
        margin-top: 0;
    }

}