<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<p th:if="${loginError}" class="error">Niepoprawny login lub hasło</p>
<form th:action="@{/login-process}" method="post">

    <label for="inputLogin">Login:</label>
    <input id="inputLogin" type="text" placeholder="Podaj login" th:required="required" name="login"/>

    <label for="inputPassword">Password:</label>
    <input id="inputPassword" type="password" placeholder="Podaj hasło" th:required="required" name="password"/>

    <button type="submit">Zaloguj</button>

</form>
</body>
</html>