<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Dymitr Misiejuk"/>
    <link href="css/main.css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">

</head>
<body>

<p th:if="${loginError}" class="error">Niepoprawny login lub hasło</p>
<form th:action="@{/login-process}" method="post">
    <div class="window">
    <label for="inputLogin">Login:</label>
    <input id="inputLogin" type="text" placeholder="Podaj login" th:required="required" name="login" />
    </div>
    <div class="window">
    <label for="inputPassword">Hasło:</label>
    <input id="inputPassword" type="password" placeholder="Podaj hasło" th:required="required" name="password"/>
    </div>
    <div class="window">
    <button type="submit" id="login_button" class="login_buttons">Zaloguj</button>
    </div>
    <div class="window">
    <a href="/index.html"><button type="button" id="comeback_button" class="login_buttons">Powrót do strony głównej</button></a>
    </div>
</form>

<footer>Towarzystwo Przyjaciół Skansenu w Koźlikach 2021 &copy; Wszelkie prawa zastrzeżone</footer>
</body>

<script src="main.js"></script>
</html>