<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacje</title>
    <!--    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">-->
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>
<body>

<div id="reservation_form">
    <form th:action="@{/reservations}" method="post" class="form-control-plaintext" th:object="${newReservation}">
        <label class="col-form-label">
            Od kiedy?
            <input class="input-group-text" type="date" th:field="*{{fromWhen}}">

        </label>
        <br/>

        <label class=" col-form-label"> Do kiedy?
            <input class="input-group-text" type="date" th:field="*{{tillWhen}}">

        </label>

        <br/>

        <label class="col-form-label" for="who"> Kto?</label>
        <input class="input-group-text" type="text" id="who" th:field="*{who}" value="jak sie nazywasz?">


        <br/>

        <label class="col-form-label" for="what"> Co? </label>
        <input class="input-group-text" type="text" id="what" th:field="*{what}" value="które obiekty chcesz zarezerwować?">


        <br/>

        <label class="col-form-label" for="notes"> Notatki/uwagi: </label>
        <input class="input-group-text" type="text" id="notes" th:field="*{notes}" value="opcjonalne notatki">


        <br/>

        <button class="btn-dark" type="submit" value="zarezerwuj">Zarezerwuj</button>
    </form>
</div>

<br/>

<div th:each="reservation : ${reservations}" id="reservation_result">

    Rezerwacja dokonana od: <span th:text="${reservation.fromWhen}"></span> do: <span
        th:text="${reservation.tillWhen}"></span>
    <br/>
    Przez: <span th:text="${reservation.who}"></span>
    i obejmuje: <span th:text="${reservation.what}"></span>
    <br/>
    Dodatkowe informacje: <span th:text="${reservation.notes}"></span>
    <br/>

    <a th:href="@{'/reservations/update/' + ${reservation.id}}"><button type="submit" value="edit">Edytuj</button></a>
    <a th:href="@{'/reservations/delete/' + ${reservation.id}}"><button type="submit" value="edit">Usuń</button></a>
</div>

</body>
</html>