<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacje</title>
    <!--    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">-->

    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>
<body>

<div id="reservation_form">
    <form th:action="@{/reservations}" method="post" class="form-control-plaintext" th:object="${newReservation}">
        <label class="col-form-label">
            Od kiedy?
            <input class="input-group-text" type="date" id="fromWhen" th:field="*{{fromWhen}}">
            <span th:if="${#fields.hasErrors('fromWhen')}" th:errors="*{fromWhen}">Błędna data początku rezerwacji!</span>
            <span th:if="${fromWhenError}" th:text="${fromWhenError}">fromWhenError</span>

        </label>
        <br/>

        <label class=" col-form-label"> Do kiedy?
            <input class="input-group-text" type="date" th:field="*{{tillWhen}}">
            <span th:if="${#fields.hasErrors('tillWhen')}" th:errors="*{tillWhen}">Błędna data zakończenia rezerwacji!</span>
            <span th:if="${tillWhenError}" th:text="${tillWhenError}">tillWhenError</span>
        </label>

        <br/>

        <label class="col-form-label" for="who"> Kto?</label>
        <input class="input-group-text" type="text" id="who" th:field="*{who}" value="jak sie nazywasz?" placeholder="Jak się nazywasz?">
        <span th:if="${#fields.hasErrors('who')}" th:errors="*{who}">Przedstaw się!</span>

        <br/>

        <label class="col-form-label" for="what"> Co? </label>
        <input class="input-group-text" type="text" id="what" th:field="*{what}" value="które obiekty chcesz zarezerwować?" placeholder="Co chcesz zarezerwować?">
        <span th:if="${#fields.hasErrors('what')}" th:errors="*{what}">Żeś się rozpisał... krócej ;-)</span>

        <br/>

        <label class="col-form-label" for="notes"> Notatki/uwagi: </label>
        <input class="input-group-text" type="text" id="notes" th:field="*{notes}" value="opcjonalne notatki" placeholder="opcjonalne notatki...">
        <span th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}">Żeś się rozpisał... krócej ;-)</span>

        <br/>

        <button class="btn-dark" type="submit" value="zarezerwuj">Zarezerwuj</button>
    </form>
</div>

<br/>

<div th:each="reservation : ${reservations}" id="reservation_result" >

    Rezerwacja dokonana od: <span th:text="${reservation.fromWhen}"></span> do: <span
        th:text="${reservation.tillWhen}"></span>
    <br/>
    Przez: <span th:text="${reservation.who}"></span>
    i obejmuje: <span th:text="${reservation.what}"></span>
    <br/>
    Dodatkowe informacje: <span th:text="${reservation.notes}"></span>
    <br/>
    Rezerwacji dokonano: <span id="when_booked" th:text="${reservation.getDateTimeOfReservation()}"></span>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/reservations/update/' + ${reservation.id}}"><button type="submit" value="edit">Edytuj</button></a>
        <form th:action="@{'/reservations/delete/' + ${reservation.id}}" th:method="post">
            <button type="submit" value="delete" >
                Usuń
            </button>
        </form>
    </div>

</div>

<br />
<a th:href="@{'/logout'}"><button type="submit" value="logout">Wyloguj</button></a>

</body>
</html>